[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
gunicorn = "*"
psycopg2 = "*"
pillow = "*"
celery = "*"
sendgrid = "*"
django-allow-cidr = "*"
faker = "*"
django-storages = "*"
boto3 = "*"
graphene-django = "*"
graphene = "*"

[requires]
python_version = "3.8"
