{% extends "base.html" %}


{% block page_content %}

<title>About me</title>
<br/><br/>

<div class="container nerd">
  <div class="row">
    <div class="col-sm">
        <div class="image-container">
          <img class="content-img" src="https://res.cloudinary.com/dzmp7xptn/image/upload/v1589594161/blogpic_qpym89.jpg">
        </div>
    </div>
    <div class="col-sm offset-sm-1">
        <p style="padding-top: 40px;">I'm <span style="color: red;"><strong>not</strong></span> a frontend developer. You can probably tell if you look at the source code for more than five minutes. Maybe one day I'll migrate to a more modern web framework, but for the time being, this is fine. Python is my go-to and I like DevOps, distributed systems and networking. Trying to learn Rust, Golang and Ruby</p>
        <p>Feel free to roast me in the comments section. Don't worry, this site will assign you an alias when you sign up. It's more fun that way. The only thing you'll need is a GitHub account<span class="blinker"><strong>__</strong></span></p>
    </div>
  </div>
</div>
  </div>
</div>
{% endblock %}
