{% extends "base.html" %}


{% block page_content %}

<br/><br/>
<div class="container nerd">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
        <p>I'm not a frontend developer. You can probably tell by the stack I chose for this site. Maybe one day I'll migrate to a more modern web framework, but for the time being this is fine. Python is my go-to and I like DevOps, distributed systems and networking. Trying to learn Rust and Ruby</p>
        <img src="https://res.cloudinary.com/dzmp7xptn/image/upload/v1566878823/trexbat_tcsvbd.png">
        <p style="font-size: x-small;">art by <a style="color: red;" href="https://twitter.com/dustinharbin"><strong>@dustinharbin</strong></a></p>
    <div>
  </div>
</div>
  </div>
</div>
{% endblock %}
