<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="icon" href="https://res.cloudinary.com/dzmp7xptn/image/upload/v1590857031/devfavicon_uzhovy.png" type="image/gif" sizes="32x32">
    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="/"><strong>theangry<span style="color:red;">dev</span></strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link nerd" href="/about_me">about me</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nerd" href="/tags">categories</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nerd" href="/contact">contact</a>
          </li>
      </ul>
      {% if user.is_authenticated %}
      <div class="nav nav-item dropdown" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <a style="color:slategrey;" class="nerd nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>welcome, {{ user.username }} </span><img class="navbar-toggler-icon" style="height: 30px; width: 30px; border-radius: 15px;" src={{ user.avatar }}/>
        </a>
        <div style="background-color: whitesmoke;" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="animated-link nerd dropdown-item" href="#">My Profile</a>
          <a class="animated-link nerd dropdown-item" href="/sign_out">Sign out</a>
        </div>
      </div>
      {% else %}
      <div class="nav-item">
            <a style="color:slategrey" class="nav-link nerd" href="/sign_in">Log in</a>
      </div>
      {% endif %}
      </div>

  </nav>
    <br/>
    <br/>

    {% block page_content %}{% endblock %}

    {% load static %}
    <script src="{% static "bundle.js" %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>

    <footer>
      <div class="container">
        <span class="text-muted"><strong>theangry<span style="color: #bdb6b6;">dev</span></strong></span>
      </div>
    </footer>
</html>
