{% extends "base.html" %}


{% block page_content %}

<title>Yay!</title>
<br/><br/>

<div class="container nerd">
  <div class="row">
    <div class="col-sm">
        <div class="polaroid-container">
            <img class="polaroid-img" src="https://media.giphy.com/media/ah7KwjMNJlhtK/giphy.gif"/>
        </div>
    </div>
    <div class="col-sm">
        <p style="padding-top: 10px;">Hey {{ first_name }}!! Thanks for taking the time to write to me. I'll get back to you ASAP!</p>
    </div>
  </div>
</div>
  </div>
</div>
{% endblock %}
