{% extends "base.html" %}


{% block page_content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="nerd">
       <h2>{{ post.title }}</h2>
       <p>{{ post.published }}</p>
       {% for content in contents %}
        {% if content.type.name == "Text" %}
          <p>{{ content.text }}</p>
        {% endif %}

        {% if content.type.name == "Image" %}
          <img src="{{ content.image.path }}"/>
        {% endif %}

        {% if content.type.name == "Code" %}
        <pre>
          <code class="language-py">{{ content.text }}</code>
        </pre>
        {% endif %}
       {% endfor %}
    </div>
    </div>
  </div>

</div>

{% endblock %}
