{% extends "base.html" %}


{% block page_content %}

<title>{{ post.title }}</title>
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-2">
      <div class="nerd">
       <h2 class="post_title">{{ post.title }}</h2>
       <p>{{ post.published }}</p>
       <br/>
       {% for tag in tags %}
        <span ><strong><a class="animated-link" style="color: red;" href="/tags/{{ tag.id }}">{{ tag.name }}</a></strong></span>

       {%  endfor %}

       <br/><br/>

       {% for content in contents %}
        {% if content.type.name == "Text" %}
          <p style="color: darkgray;">{{ content.text }}</p>
        {% endif %}

        {% if content.type.name == "Image" %}
          <img src="{{ content.image.path }}"/>
        {% endif %}

        {% if content.type.name == "Code" %}
        <pre>
          <code class="language-py">{{ content.text }}</code>
        </pre>
        {% endif %}

        {% if content.type.name == "Quote" %}
          <h3 style="font-size: 3rem;">&quot;{{ content.text }}&quot;</h3>
        {% endif %}
       {% endfor %}
    </div>
    </div>
  </div>

  <br/><br/>

  <div class="row">
    <div class="col-lg-10 offset-lg-2">
      <h4 class="nerd ">Comments</h4>
      <div class="nerd">
        {% for comment in comments %}
          <p>{{ comment.text }}</p>
          <p>@{{ comment.author.username }}</p>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
