
{% extends "base.html" %}


{% block page_content %}
<title>{{ tag.name }}</title>
 <br/><br/>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-3">
      <div class="nerd">
       <h2 class="tag_title">{{ tag.name }}</h2>
       <p>{{ tag.description }}</p>
       <br/><br/>
       {% for post in posts %}
         <div class="nerd" style="text-decoration: none !important;">
          <h2><strong><a class="animated-link" style="color: red;" href="/posts/{{ post.pk }}">{{ post.title }}</a></strong></h2>
          <p>{{ post.published }}</p>
        </div>
       {%  endfor %}
    </div>
    </div>
  </div>

</div>

{% endblock %}
